{% extends 'core/base.html' %}
{%load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/header.css' %}">
<header>
    <div class="text_logo">
        <img src="{% static 'imgs/header-icon.png' %}" alt="EuCotações Icon" class="icon">
        <h2>EuCotações</h2>
    </div>
    <nav class="nav-header">
        <ul>
            <li class="li-header"><a class="a-header" href="#">home</a></li>
            <li class="li-header"><a class="a-header" href="#">cadastrar ativos</a></li>
            <li class="li-header"><a class="a-header" href="#">perfil</a></li>
          </ul>   
    </nav>
</header>
{% endblock %} 