.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.text {
    margin-top: 50px; 
    font-size: 45px;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 50px; 
    justify-content: center; 
}

.asset-box {
    background: rgb(248, 248, 248);
    height: 250px;
    width: 700px; 
    border-radius: 10px;
    display: flex;
    flex-direction: row; 
    border: 2px #eeeeee solid;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
    margin-top: 15px;
}

.stock-name {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}
.stock-type {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}